/* #continer {
    display: flex;
} */
/* #col1 {
    margin-left: 70px;
    margin-top: 119px;
    display: flex;
    flex-direction: column;
    z-index: 3;
} */
/* #col2 {
    margin-top: 70px;
    margin-right: 119px;
    display: flex;
    flex-direction: column;
    z-index: 3;
} */
/*.rec {
    /* margin-top: 70px;
    width: 457px;
    height: 299px; */
    /* background-color: #821313; */

/*.content-none {
    /* margin-top: 70px; */
    /* width: 457px; */
    /* height: 299px; */
    /* background-color: #C4C4C4; */

/* .rec {
    left: 27.33%;
    right: 0px;
    top: 15px;
    width: 120px; 
    height: 25px;  
    bottom: 82.22%;   
    background: #CCCCCC;
    border-radius: 4.8px;  
}
.rec .rec1 {
    position: absolute;
left: 27.33%;
right: 62.53%;
top: 15.56%;
bottom: 82.22%;

background: #CCCCCC;
border-radius: 4.8px;
}
.rec .rec2 {
    position: absolute;
    left: 27.33%;
    right: 62.53%;
    top: 20%;
    bottom: 77.78%;
    background: #CCCCCC;
    border-radius: 4.8px;
}

.squr {
    height: 25px;
    width: 152px;
    right: 30px;
    border-radius: 6px;
    background: #CCCCCC;

}
.squr1 {
    position: flex;
    width: 470px;
    height: 45px;
    top: 535px;
    margin: 10px;
    background: #D9D9D9;
}
.squr2 {
    position: flex;
    width: 470px;
    height: 45px;
    margin: 10px;
    top: 550px;
    background: #D9D9D9;
} */


.heebo {
    font-family: 'Open Sans', sans-serif;
}